.about__description {
    display: flex;
    margin-top: 156px;
    margin-left: 106px;
    color: #264653;
    font-size: 16px;
}

.about__description h4 {
    margin-top: 8px;
    margin-left: 225px;
    font-size: 24px;
    width: 592px;
}

.about__help {
    text-align: center;
    margin-top: 70px;
    color: rgba(34, 53, 111, 0.5);
}

.about__blocks {
    display: flex;
    margin-top: 27px;
    color: #FFFFFF;
    text-align: center;
}

.about__blocks h2 {
    font-size: 32px;
}

.about__blocks hr {
    border: none;
    background-color: #FFFFFF;
    height: 2px;
    margin-top: 72px;
   }

.about__first_block,
.about__second_block,
.about__third_block,
.about__forth_block {
    padding-left: 53px;
    padding-right: 53px;
    width: 320px;
    height: 330px;
}