.description__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    width: 470px;
    margin-top: 150px;
    z-index: 2;
}

.description__name {
    color: #62D0DF;
    font-size: 24px;
    font-weight: 700;
}

.description__title {
    color: #22356F;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
}

.description__main {
    color: #22356F;
    font-size: 24px;
    line-height: 42px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.button__filters {
    width: 150px;
    height: 50px;
    background-color: #F4F9E2;
    color: pink;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    transition: all .4s ease;
}

.button__personal {
    width: 220px;
    height: 50px;
    background: none;
    color: pink;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    transition: all .4s ease;
}

.button__filters:hover, 
.button__personal:hover {
    background: pink;
    cursor: pointer; 
    color: white;
}

.children {
    width: 600px;
    height: 566px;
    z-index: 2;
}

.ellipse {
    border-radius: 312px;
    width: 1357px;
    height: 895px;
    background: #EDFDFF;
    position: absolute;
    left: 760px;
    top: 150px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    z-index: 1;
}
