.filters__content {
    margin-top: 25px;
}

.myUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 190px;
}

h2, p {
    margin: 0;
    margin-top: 15px;
}

.myUl li button {
    background-color: #755553;
    font-weight: 600;
    text-align: center;
    border: none;
    line-height: 5em;
    height: 126px;
    width: 100%;
    margin-top: -1px; 
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
    transition: all .4s ease;
    display: block; 
    margin: 0;
}

.myUl li button:hover:not(.header) {
    background-color: #f2dfd3;
    color: #755553;
}

.filters {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.filters__blocks {
    position: relative;
}

.filters__blocks p {
    font-weight: bold;
    font-size: 14px;
}

.filters__blocks h4 {
    font-size: 18px;
}

.filters__blocks hr {
    border: none;
    background-color: #FFFFFF;
    height: 2px;
}

.filters__up, .filters__down {
    display: flex;
}

.filters__head_theme {
    margin: 0;
    margin-top: 10px;
}

.filters__descrip hr {
    border: none;
    background-color: #FFFFFF;
    height: 1px;
    width: 20px;
    margin-left: 0;
}

.description_block {
    margin: 0;
}

.filters__blocks h2 {
    font-size: 23px;
}

.filters__down_left,
.filters__down_right,
.filters__up_left,
.filters__up_right {
    padding-left: 50px;
    padding-right: 50px;
    height: 378px;
    width: 404px;
}

.filters__up_right::after {
    content: "";
    background: url(./children10.png) no-repeat;
    opacity: 0.2;
    top: 75px;
    left: 590px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

.filters__up_left::after {
    content: "";
    background: url(./children11.png) no-repeat;
    opacity: 0.2;
    top: 65px;
    left: 110px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .filters__down_left::after {
    content: "";
    background: url(./children14.png) no-repeat;
    opacity: 0.2;
    top: 440px;
    left: 570px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .filters__down_right::after {
    content: "";
    background: url(./children13.png) no-repeat;
    opacity: 0.2;
    top: 460px;
    left: 140px;
    bottom: 0;
    right: 0;
    position: absolute;
  }