.filters__content {
    margin-top: 25px;
}

.myUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 190px;
}

h2, p {
    margin: 0;
    margin-top: 15px;
}

.myUl li a {
    background-color: #755553;
    font-weight: 600;
    text-align: center;
    line-height: 5em;
    height: 102px;
    margin-top: -1px; 
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    transition: all .4s ease;
    display: block; 
    margin: 0;
}

.myUl li a:hover:not(.header) {
    background-color: #f2dfd3;
    color: #755553;
}

.filters {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

hr {
    border: none;
    background-color: #FFFFFF;
    height: 2px;
   }

.filters__up, .filters__down {
    display: flex;
}

.filters__h4{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.filters__head_theme {
    margin: 0;
}

.filters__blocks h2 {
    font-size: 23px;
}

.filters__down_left,
.filters__down_right,
.filters__up_left,
.filters__up_right {
    padding-left: 50px;
    padding-right: 50px;
    height: 378px;
    width: 404px;
}
