input {
	outline: none;
	border: none;
}

.log__description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
  text-align: center;
}

.log__form, .log__form_password {
  margin-left: 50px;
}

.log__input {
  font-size: 15px;
  line-height: 1.2;
  color: #264653;
  display: block;
  width: 70%;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 53px;
  margin-bottom: 10px;
}

.log__link {
  font-size: 16px;
  color: #264653;
  background: none;
  line-height: 1.4;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.log__link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #264653;
	content: "";
	transition: width 0.4s ease-out;
}

.log__link:hover:after,
.log__link:focus:after {
	width: 100%;
}

.log__links {
  margin-top: 5px;
}

.log__header {
  color: #264653;
  line-height: 70px;
  font-size: 22px;
}

.log__button {
  width: 150px;
  height: 50px;
  background-color: #62D0DF;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  transition: all .3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.log__button:hover {
  background-color: pink;
  cursor: pointer; 
}

.children3 {
  width: 700px;
  height: 416px;
  z-index: 2;
}

