.reg__content {
    color: #264653;
}

.reg {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.children2 {
    width: 500px;
    height: 366px;
    z-index: 2;
}

.reg__header {
    line-height: 70px;
    font-size: 22px;
}

.reg__description {
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.decor__input {
    font-size: 15px;
    line-height: 1.2;
    color: #264653;
    display: block;
    width: 70%;
    background: #E9EFF6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #264653;
    font-size: 15px;
}

.reg__content h4 {
    margin: 0;
    margin-top: 45px;
}

.reg__button {
    width: 100%;
    height: 50px;
    background-color: #62D0DF;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    transition: all .3s ease;
    margin-top: 45px;
}

.reg__button:hover {
    background-color: pink;
    cursor: pointer; 
}